:root {
    --tag-editorial: #45ABEA;
    --tag-qone-goals: #9B71E3;
    --tag-recruiting: #64C0A9;
    --tag-mobile: #F29E33;
    --tag-website: #D863A1;
    --tag-sales: #B0C926;

    --button-color: #47ADF1;
}

/* Style Reset Rule */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regular Selectors */

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 237, 237);
}

/* Header Section */
header {
    background-color: white;
    height: 100px;
}

.header-top {
    padding: 20px 30px 20px;
}

#main-logo {
    vertical-align: middle;
    width: auto;
    height: 60px;
}

.main-page-title {
    display: inline-block;
    font-weight: 900;
    font-size: 2.5rem; 
    vertical-align: middle;
}

/* Main Section */
main {
    background-color: white;
    /* border: 1px solid red; */
    margin: 40px 160px 5px 160px;
    /* padding: 0 40px 0 40px; */
    border-radius: 8px;
}

.functional-buttons-section {
    padding: 15px 40px 10px 40px;
    border-bottom: 3px solid rgb(245, 237, 237);
} 

button {
    text-align: center;
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 3px;
    padding: 6px 12px;
}

#btn-add-task {
    background-color: var(--button-color);
    color: white;
    border: 1px solid var(--button-color);
}

#btn-add-section {
    background-color: white;
    color: lightgrey;
    border: 1px solid lightgrey;
}

/* To do list Section */
li {
   list-style-type: none;
   font-weight: 400;
   padding: 10px 40px 10px 40px;
}

.list-row {
    margin-top: 25px;
}

.list-title {
    color: rgb(62, 61, 61);
    padding: 0px 40px 0px 40px;
}

#list-first-row {
    padding-top: 15px;
}

#list-last-row {
    padding-bottom: 30px;
}

/* Check list visual Section */

.check-visual {
    display: inline-block;
    font-size: 0.7em;
    font-weight: 900;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
}

.check {
    color: limegreen;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 1px solid limegreen;
}

.cross {
    color: red;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 1px solid red;
}

/* Tags Defining Section */
.tag-visual {
    display: inline-block;
    font-size: 0.7em;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    color: white;
    padding: 5px 11px;
    border-radius: 10px;
    margin-left: 6px;
}

.tag-editorial {
    background-color: var(--tag-editorial);
}

.tag-goals{
    background-color: var(--tag-qone-goals);
}

.tag-recruiting {
    background-color: var(--tag-recruiting);
}

.tag-mobile {
    background-color: var(--tag-mobile);
}

.tag-website {
    background-color: var(--tag-website);
}

.tag-sales {
    background-color: var(--tag-sales);
}